.footer {
    margin-top: 50px;
    padding-top: 48px;
    padding-bottom: 38px;
    border-top: 1px solid #0000002B;
}

.footer__body {
    display: flex;
    justify-content: space-between;
    gap: 25px;
}

.footer__box {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-bottom: 48px;
}

.footer__text_p {
    width: 100%;
    max-width: 285px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #9f9f9f;
}

.footer__list {
    display: flex;
    flex-direction: column;
    row-gap: 46px;
}

.footer__form {
    display: flex;
    gap: 11px;
}

.footer__input {
    border: none;
    border-bottom: 1px solid #000000;
    outline: none;
    padding-bottom: 3px;
}

.footer__btn {
    border: none;
    border-bottom: 1px solid #000000;
    outline: none;
    background-color: inherit;
    cursor: pointer;
    padding-bottom: 3px;
}

.footer__box_text {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #9f9f9f;
}

.footer__end {
    padding-top: 35px;
}

.footer__end_text {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

@media screen and (max-width: 900px) {
    .footer__body {
        flex-wrap: wrap;
    }
}